.bannerBackground{
    background-image: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?cs=srgb&dl=pexels-daniel-reche-3721941.jpg&fm=jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    box-shadow: 3px -2px 7px 1px orange;
}
.bannerText{
    padding: 200px 0px;
    font-size: 80px;
}
.musicBackground{
    background: black;
}
.cardContainer{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.card{
    width: 250px;
    border-radius: 10px;
    padding: 10px;
}
.cardInfoBorder{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
.cardImage img{
    width: 230px;
    border-radius: 10px;
}
h4{
    font-size: 40px;
}
.cardsTitle{
    font-size: 40px;
    padding: 40px;
    text-align: center;
}
.cardTitle{
    font-size: 40px;
}